@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


header,footer{
    padding: 15px;
    background-color: #83A2FF;
    color: #FFD28F;
    font-weight: 900;
}

main{
    margin-top: 50px;
}

.menu{
    width: 30%;
    height: 600px;    
    float: left;
    padding: 30px 30px 30px 0px;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    background-color: #83A2FF;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px; 
    font-weight: 700;
    text-align: center;
}

.menu ul li:hover{
    background-color: coral;
    color: #fff;
    cursor: pointer;

}


.content{
    width: 70%;
    height: 600px;   
    float: left;
    padding: 30px;
    margin-bottom: 50px;
    
}

.content h3{
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
    
}

.content a{
    text-decoration: none;
    background-color: #83A2FF;
    color: #fff;
    font-weight: bold;
    padding: 7px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
}

.content a:hover{
    background-color: #fff;
    color: #83A2FF;
    border: 2px solid #83A2FF;
    border-radius: 5px;
    font-weight: bold;    
}


/* Clear 2. yöntem tavsiye edilen yöntem bu */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}